*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(#3f4b59, #333d46);

    h3{
        font-size: 2.2rem;
        text-align: center;
        padding: 3rem 0;
    }

    p{
        font-size: 1.6rem;
    }

    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        margin: 2rem 0;

        .box-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1rem;
            

            .box-label{
                display: flex;
                justify-content: flex-end;
                width: 55%;
                padding: 0 1rem;
            }

            .box-input{
                display: flex;
                justify-content: flex-start;
                width: 45%;
                padding: 0 1rem;



                input[type="number"]{
                    width: 40px;
                    font-size: 1.2rem;
                }
            }
        }

        .box-btn{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 2rem 0;

            .btn-random{
                width: 60%;
                border-radius: 8px;
            }

            span{
                padding: .5rem;
                display: block;
                height: 20px;
                color: rgb(235, 39, 39);
            }
        }

        .box-action{
            display: flex;
            justify-content: center;
            margin: 2rem 0;

            .donePass{
                padding: 0.5rem;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
        }

        button{
            font-size: 1rem;
            color: #fff;
            margin: 0;
            padding: .5rem 1rem;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            outline: none;
            border: none;
            background-color: #23303b;
            transition: background-color .7s;

            i{
                padding: 0.5rem;
            }
        }

        button:hover{
            background-color: #1a232b;
            transform: scale(1.01);
        }

        .copy-info{
            margin-top: -1rem;
            text-align: center;
            height: 20px;
            color: rgb(235, 39, 39);
        }
    }
}